body {
    color: white;
    background: rgb(11, 11, 11);
}

header {
    header {
        border: solid 2px rgb(42, 122, 228);
    }
}


.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;

  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
  }